@define BACKGROUND_COLOR: #000000;
@define BACKGROUND_COLOR_WHITE: #FFFFFF28;

.FlyoutScoreboardRoot 
{
    horizontal-align: left;
    vertical-align: top;
    flow-children: down;
    transform: translatex(-50%);
    opacity: 0;
    margin-top: 150px;
    padding: 10px 12px 12px 12px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111ee ), to( #1c1c1cf4 ) );
    border: 1px solid #4c4c4c;
    box-shadow: 0px 0px 150px -10px rgba(0, 0, 0, 0.75);
    transition: transform 0.1s ease 0.0s, opacity 0.2s ease 0.0s;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible 
{
    transform: translatey(0%);
    opacity: 1;
}

.Legend 
{
    flow-children: right;
    margin-bottom: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}
  
.Legend Label 
{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.35);
}

.Legend Label
{
    text-align: left;
    vertical-align: center;
}

.ScoreCol_TeamInfo
{
    width: 8px;
    padding-right: 4px;
}

.LegendPanel.ScoreCol_TeamInfo
{
    width: 12px;
}


.ScoreCol_Hero 
{
    width: 50px;
}

.ScoreCol_Name
{
    padding-left: 8px;
}

.ScoreCol_PlayerDetails 
{
    width: 140px;
}

.ScoreCol_Gold
{
    width: 70px;
}

.ScoreCol_Kills
{
    width: 50px;
}

.ScoreCol_Deaths
{
    width: 50px;
}

.ScoreCol_ElfScore
{
    width: 56px;
}

.ScoreCol_TrollScore
{
    width: 56px;
}

.ScoreCol_Items
{
    width: 228px;
}

.ScoreCol_Actions
{
    width: 46px;
}

#TeamsContainer 
{
    flow-children: down;
    horizontal-align: center;
}

.FlyoutTeam.no_players 
{
    visibility: collapse;
}
  
.local_player_team.FlyoutTeam 
{
    z-index: 99;
}

.FlyoutTeamData 
{
    flow-children: right;
}

.TeamInfo
{
    width: 10px;
    height: 32px;
    vertical-align: center;
}

#TeamColor_GradentFromTransparentLeft
{
    width: 3px;
    height: 26px;
    horizontal-align: center;
    vertical-align: center;
    border-radius: 2px;
}

#PlayersContainer 
{
    flow-children: down;
}

.PlayerRow 
{
    padding-top: 6px;
    height: 46px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.08);
}

#PlayerRowContainer 
{
    flow-children: right;
    height: 32px;
}

#PlayerMainInformation 
{
    flow-children: down;
}

.ScoreboardPanel 
{
}

#PlayerOneMainInformation 
{
    flow-children: right;
}

#Hero
{
    width: 50px;
    height: 32px;
}

#HeroIcon 
{
    vertical-align: middle;
    width: 50px;
    height: 32px;
}

#PlayerDetailsContainer 
{
    height: 100%;
}

#PlayerAndHeroName 
{
    padding-left: 8px;
    vertical-align: center;
}

#PlayerName 
{
    color: white;
    font-size: 14px;
    font-weight: semi-bold;
    white-space: nowrap;
}

#PlayerScoreInformation 
{
    flow-children: right;
    height: 100%;
}

#PlayerScoreInformation .ScoreboardPanel
{
    height: 100%;
}

#PlayerScoreInformation .ScoreboardPanel Label
{
    vertical-align: center;
    font-size: 16px;
    text-align: left;
    margin-top: 3px;
    width: 100%;
    font-weight: semi-bold;
    text-overflow: shrink;
}

.PlayerGoldAmount
{
    color: #FFD74B;
}

.ScoreCol_Kills Label
{
    color: white;
}

.ScoreCol_Deaths Label
{
    color: white;
}

.ScoreCol_ElfScore Label
{
    color: white;
}

.ScoreCol_TrollScore Label
{
    color: white;
}

#GoldContainer
{
    vertical-align: center;
}

#ItemsContainer
{
    flow-children: right;
    vertical-align: center;
    margin-left: 4px;
}

.ScoreboardItem
{
    width: 32px;
    height: 24px;
    margin-right: 4px;
    vertical-align: center;
    visibility: visible;
}

#ActionContainer
{
    flow-children: right;
    vertical-align: center;
    margin-left: 8px;
}

.ButtonPlayer
{
    width: 28px;
    height: 28px;
    border: 2px solid #444444;
    border-radius: 50px;
    vertical-align: center;
    background-color: gradient( linear, 0% 0%, 0% 80%, from( #0E0E0E), to( #1C1C1C));
    transition-property: background-color;
    transition-duration: 0.15s;
}

.ButtonMute
{
    background-image: url("file://{images}/new_design/flyout/mute.png");
    background-size: 60% 40%;
    background-repeat: no-repeat;
    background-position: 60%;
}

.ButtonMute:hover
{
    background-color: gradient( linear, 0% 0%, 0% 80%, from( #E95C5C), to( #994D4D));
}

.player_muted .ButtonMute 
{
    background-color: gradient( linear, 0% 0%, 0% 80%, from( #E95C5C), to( #994D4D));
}

.rainbow_nickname
{
    color: gradient( linear, 100% 0%, 0% 0%, from( rgb(0, 183, 255)), color-stop( 0.5, rgb(0, 255, 85)), to( rgb(255, 196, 0)));
}

.rainbow_nickname_animate
{
    animation-name: Colorgradient;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-weight: bold;
    text-shadow: 0px 0px 8px 0 gold;
}

@keyframes 'Colorgradient'{
    0%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #fedd45, color-stop( 0.5, #fff700), to( #eebb0a));
        text-shadow: 0px 0px 8px 0 gold;
    }
    25%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #fff700), color-stop( 0.5, #eebb0a), to( #fedd45));
        text-shadow: 0px 0px 8px 1 gold;
    }
    50%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #eebb0a), color-stop( 0.5, #fedd45), to( #fff700));
        text-shadow: 0px 0px 8px 2 gold;
    }
    75%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #fff700), color-stop( 0.5, #eebb0a), to( #fedd45));
        text-shadow: 0px 0px 8px 1 gold;
    }
    100%
    {
        color: gradient( linear, 100% 0%, 0% 0%, from( #fedd45), color-stop( 0.5, #fff700), to( #eebb0a ));
        text-shadow: 0px 0px 8px 0 gold;
    }
}

#_dynamic_team_3
{
    visibility: visible;
}

#_dynamic_team_6,
#_dynamic_team_7,
#_dynamic_team_8
{
    visibility: collapse;
}

.player_dead #HeroIcon
{
    saturation: 0;
}

.PlayerDead
{
    align: center center;
    background-image: url("file://{images}/new_design/flyout/kick.png");
    background-size: 100%;
    width: 20px;
    height: 20px;
    wash-color: red;
    img-shadow: 0px 0px 4px 5.0 #333333b0;
    opacity: 0;
}

.player_dead .PlayerDead
{
    opacity: 1;
}