#TopBarScoreboard
{
    horizontal-align: center;
    vertical-align: top;
    width: 100%;
    margin-top: 6px;
}

.PlayersPanels
{
    horizontal-align: center;
    flow-children: right;
    height: 44px;
}

.player_list_1
{
    flow-children: right;
    horizontal-align: center;
    width: fit-children;
    margin-right: 420px;
}

.TopHeroWrapper
{
    width: 56px;
    height: 44px;
    margin-right: 6px;
}

.TopHeroButton
{
    width: 56px;
    height: 44px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#111111ee), to(#1c1c1cf4));
    border: 1px solid #4c4c4c;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.9);
    transition-property: brightness, box-shadow, border;
    transition-duration: 0.15s;
    overflow: noclip;
}

.TopHeroButton:hover
{
    brightness: 1.12;
}

.TopHeroInnerBorder
{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: inset 0px 0px 4px rgba(255,255,255,0.06);
}

.TopHeroGlow
{
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/new_design/topbar/glow.png");
    background-size: 100%;
    opacity: 0.18;
}

.TopHeroImage
{
    width: 54px;
    height: 32px;
    horizontal-align: center;
    vertical-align: top;
    margin-top: 2px;
}

.TopHeroBars
{
    flow-children: down;
    width: 54px;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: -5px;
}

.TopHeroHPBar,
.TopHeroManaBar
{
    width: 54px;
    height: 6px;
    background-color: rgba(8,8,8,0.95);
    border: 1px solid rgba(255,255,255,0.10);
}

.TopHeroManaBar
{
    margin-top: 1px;
}

.TopHeroHPFill
{
    width: 100%;
    height: 100%;
    background-color: gradient(linear, 0% 0%, 100% 0%, from(#4e8e38), to(#8be35d));
}

.TopHeroManaFill
{
    width: 100%;
    height: 100%;
    background-color: gradient(linear, 0% 0%, 100% 0%, from(#3558bf), to(#73a7ff));
}

.TopHeroDeadIcon
{
    width: 16px;
    height: 16px;
    align: center center;
    background-image: url("file://{images}/new_design/flyout/kick.png");
    background-size: 100%;
    wash-color: red;
    img-shadow: 0px 0px 4px 5.0 #333333b0;
    opacity: 0;
}

.player_dead .TopHeroImage
{
    saturation: 0;
    brightness: 0.45;
}

.player_dead .TopHeroGlow
{
    opacity: 0.06;
}

.player_dead .TopHeroDeadIcon
{
    opacity: 1;
}

.is_local_player_topbar .TopHeroButton
{
    border: 2px solid white;
    box-shadow: 0px 0px 8px -1px rgba(255,255,255,0.35);
}

.is_local_player_topbar .TopHeroInnerBorder
{
    border: 1px solid rgba(255,255,255,0.16);
    box-shadow: inset 0px 0px 6px rgba(255,255,255,0.12);
}