.OverthrowGameInfo
{
    width:100%;
    flow-children: down;
}
 
Label
{
    font-size: 20px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: right;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: #cccccc;
    font-size: 64px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}

#BriefDescription
{
}

#ThroneText,
#CoinsText,
#ItemsText
{
    width: -2.5%;
}

.Header
{
	font-size: 22px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
}

#ObjectiveHeader
{
	margin-top: 18px;
}

#ThroneRow
{
    margin-top: -30px;
}

#ThroneText
{
    margin-top: 35px;
	text-align: left;
}

#ThroneImage
{
    margin-top: -10px;
    width: 541px;
    height: 1593px;
}

.TipText
{
	margin-left: 16px;
    margin-top: 0px;
}

.InfoRow
{
    flow-children: right;
    width: 100%;
}


Label .midas_throne,
Label .overboss,
Label .treasure
{
    color: #cccccc;
    font-weight: bold;
}

Label .items,
Label .gold,
Label .xp
{
    color: #fcaf3d;
    font-weight: bold;
}


.CustomUIState_HeroSelection #GameInfoButton,
.CustomUIState_HUD #GameInfoButton
{
    transform: translateY( 310px );
}
